<meta charset="UTF-8">
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script>

$(document).ready(function(){
	
	$('#registerbtn').click(function(){
		$('.user').attr({
			'enctype':'multipart/form-data',
			'method':'post',
			'action':'registerimpl'
		});
		$('.user').submit();
	});
});

</script>
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Nutrition Register</h1>
        </div>
        <form class="user">
            <div class="form-group">
             Kcal: <input type="number" class="form-control form-control-item" name="kcal">
            </div>
            <div class="form-group">
             Gram: <input type="number" class="form-control form-control-item" name="gram">
            </div>
            <div class="form-group">
             Protein: <input type="number" class="form-control form-control-item" name="protein">
            </div>
            <div class="form-group">
             Fat: <input type="number" class="form-control form-control-item" name="fat">
            </div>
              <div class="form-group">
             Sugar: <input type="number" class="form-control form-control-item" name="sugar">
            </div>
              <div class="form-group">
             Salt: <input type="number" class="form-control form-control-item" name="salt">
            </div>
            
            
            <a id="registerbtn" href="#" class="btn btn-primary btn-user btn-block">
             REGISTER
            </a>
        
        </form>
        
    </div>
</div>
