#prodpay{
	overflow: hidden;
    display: block;
    width: 50%;
    height: 42px;
    background: #3e3d3c;
    border: 1px solid #3e3d3c;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    margin: auto;
    font-size: 15px;
	
}

#deletebtn{
	background-color: #383838;
    border: 1px solid #888888;
    color: #ffffff;
        cursor: pointer;
        letter-spacing: normal;
        padding: 3px 5px;
        margin: 7px 9px;
        width: 70%;
        height: 70%;
        word-break: keep-all;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1.0em;
        display: inline-block;
  
}

.subdiv.p_price{
	text-align: center !important;
     vertical-align: middle;
      line-height: 3.0 !important;
}

#amount_price{
	width:20%;
	height:30px; 
	text-align: center;
   
   line-height: 3.0 !important;
}

.basketdiv {
    width: 100%;
    border-top: 1px solid #e0e0e0;
    float: left;
    font-size: 0.9375em;
    margin-bottom: 20px;
}
    .basketdiv .row.head {
        border-bottom: 2px solid #888;
        box-sizing: border-box;
        background-color: #f4f4f4;
        font-weight: 500;
    }
    .basketdiv .data {
        border-bottom: 2px dashed #888;
        box-sizing: border-box;
        cursor: pointer;
        float: left;
        width: 100%;
    }
    .basketdiv .data .empty{
        text-align: center;
        padding: 12px 0;
    }
    .basketdiv .row.head .subdiv {
        background-color: #f4f4f4;
    }
    .basketdiv .row > .subdiv {
        display: block;
        float: left;
    }
    .basketdiv .row > .subdiv:nth-child(1) {
        width: 50%;
    }
    .basketdiv .row > .subdiv:nth-child(2) {
        width: 40%;
    }
    .basketdiv .row > .subdiv:nth-child(3) {
        width: 10%;
    }

    .basketdiv .row > div > div {
        display: block;
        float: left;
        text-align: center;
        margin: 0;
        padding: 12px 0;
    }
    .basketdiv .row.data > div > div {
        height: 70px;
        line-height: 70px;
    }
    
  
        .basketdiv .data .num .updown {
            color: #0075ff;
            font-size: 1.0em;
            letter-spacing: 1px;
        }
        .basketdiv .seqnum {
    	width: 15%;
    	text-align: center !important;
        vertical-align: middle;
        line-height: 3.0 !important;
            
        }
  
    .basketdiv .img{
        width: 35%;
        line-height: 3.0 !important;
    }
    .basketdiv .pname{
        width: 50%;
         line-height: 3.0 !important;
    }
    
    .basketdiv .basketprice {
        width: 40%;
        text-align: center !important;
        vertical-align: middle;
        line-height: 3.0 !important;
    }
    
    .basketdiv .num {
        width: 30%;
      
      text-align: left !important;
      line-height: 3.0 !important;
    }
    .basketdiv .sum {
        width: 30%;
   
      	text-align: left !important;
        line-height: 3.0 !important;
        color: #0000aa;
    }
    .basketdiv .point {
        width: 50%;
    }

    .basketdiv .basketcmd{
        width: 80%;
        text-align: left !important;
        line-height: 3.0 !important;
    }
    .basketdiv .data .pname {
      text-align: center !important;
      vertical-align: middle;
      line-height: 3.0 !important;
      
    }
    .basketdiv .data .price, .basketdiv .data .sum, .basketdiv .data .point {
        text-align: center;
    }
    .baseform > tbody > tr > td:first-child {
        width: 100px;
    }

.buttongroup {
    padding: 11px 0;
    margin: 50px 0;
}
.narrowbuttongroup{
    margin: 15px 0;
}
    .buttongroup.center {
        text-align: center;
    }
    .buttongroup input[type=text], .buttongroup input[type=password] {
        height: 10px;
    }
    .buttongroup button, .buttongroup a {
        margin-right: 8px;
    }
        .buttongroup button:last-child, .buttongroup a:last-child {
            margin-right: 0;
        }

    .abutton, .abutton:link, .abutton:visited, .abutton:active, input[type=button] {
        background-color: #383838;
        border: 2px solid #888888;
        color: #ffffff;
        cursor: pointer;
        
        letter-spacing: normal;
        padding: 5px 8px;
        margin: 7px 10px;
        width: 100px;
        word-break: keep-all;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1.0em;
        position:  absolute;
        
    }

.abutton-alt {
    background-color: #d3e2c6;
}

.red {
    color:#b00;
}
.blue {
  color: #0075ff;
}
.sumcount, .summoney{
  text-align: center;
  margin-bottom: 20px;
}
.sumcount, .summoney{
  font-size: 1.5em;
    font-weight: bold;
}
.buttongroup{
  text-align: center;
}
.buttongroup a{
  text-decoration: none;
}
.cmd a, .cmd span {
    padding: 12px 30px;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 1.2em;
    color: #000;
    background-color: #f4f4f4;
    border: 1px solid #e0e0e0;
    text-align: center;
}
.cmd.small a, .cmd.small span {
    padding: 6px 20px;
    font-size: 0.8125em;
}

.orderform .p_num {
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 1.5em;
}