h1{
	weight: 100%; 
	font-size: 3.0em; 
	font-weight: 800;
}

#prodpay{
	background-color: #383838;
    border: 1px solid #888888;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: normal;
    margin-top: 10px;
    width: 50%;
    height: 50px;
    word-break: keep-all;
    border-radius: 5px;
    text-decoration: none;
    font-size: 2.0em;
    display: inline-block;
    text-align:center;
    font-weight: bold;
}

#paymentcancel{
    width: 50%;
    height: 50px;
    background: #DF0101;
    cursor: pointer;
    border: 1px solid #DF0101;
    letter-spacing: normal;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    font-size: 2.0em;
    word-break: keep-all;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
	float: left;
	display:inline-block
}

#deletebtn{
	background-color: #383838;
    border: 1px solid #888888;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: normal;
    margin-top: 35px;
    width: 100%;
    height: 30%;
    word-break: keep-all;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.0em;
    display: inline-block;
    text-align:center;
}

.seqnum1 {
  width: 15%;
  text-align: center !important;
  font-size: 1.2em;
  font-weight: 800;
  vertical-align: middle;
  line-height: 8.0 !important;
}
     
.img1{
        margin-top:3px;
}

.pscal{
	margin-top: 50px;
	text-align: center;
    width: 35%;
    height: 35px;
    font-size: 1.3em;
}



.basketdiv {
   width: 100%;
   border-top: 1px solid #e0e0e0;
   float: left;
   font-size: 0.9375em;
   margin-bottom: 12px;
}

  .basketdiv .row.head {
    border-bottom: 2px solid #888;
    box-sizing:border-box;
    margin: -10px;
    width: 100%;
    background-color: #f4f4f4;
    font-weight: 500;
    	}
    	
   .basketdiv .data {
    border-bottom: 2px dashed #888;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    width: 100%;
		}
		
      .basketdiv .data .empty{
        text-align: center;
        padding: 12px 0;
      }
      
      .basketdiv .row.head .subdiv {
        background-color: #f4f4f4;
      }
      
      .basketdiv .row > .subdiv {
        display: block;
        float: left;
       }
      
      .basketdiv .row > .subdiv:nth-child(1) {
        width: 50%;
       }
       
      .basketdiv .row > .subdiv:nth-child(2) {
         width: 40%;
       }
       
      .basketdiv .row > .subdiv:nth-child(3) {
         width: 10%;
       }

      .basketdiv .row > div > div {
        display: block;
        float: left;
        text-align: center;
        margin: 0;
        padding: 12px 0;
      }
    
      .basketdiv .row.data > div > div {
        height: 150px;
        line-height: 70px;
       }
    
      .basketdiv .data .num .updown {
        color: #0075ff;
        font-size:1.2em;
        letter-spacing: 2px;
      }
      
      .basketdiv .seqnum {
    	width: 10%;
    	text-align: center !important;
    	font-size: 1.2em;
        font-weight: 800;
        vertical-align: middle;
        line-height: 5.0 !important;   
        }
  
       .basketdiv .img{
        width: 30%;
        line-height: 5.0 !important;
        font-size: 1.2em;
        font-weight: 800;
        text-align: right !important;
        }
        
       .basketdiv .pname{
        width: 40%;
        line-height: 5.0 !important;
        font-size: 1.2em;
        font-weight: 800;
        text-align: right !important;
       }
    
       .basketdiv .basketprice {
        width: 25%;
        text-align: left !important;
        vertical-align: middle;
        font-size: 1.2em;
        font-weight: 800;
        line-height: 5.0 !important;
       }
    
       .basketdiv .data .basketprice{
        text-align: center;
        padding: 12px 0;
        font-size: 1.0em;
        font-weight: 800;
        line-height: 10.0 !important;
        }
    
        .basketdiv .num {
        width: 25%;
        font-size: 1.2em;
        font-weight: 800;
        text-align: center !important;
        line-height: 5.0 !important;
      }
    
       .basketdiv .data .num {
        width: 35%;
        height: 60%;
        font-size: 10px;
        text-align: left !important;
        line-height: 10.0 !important;
       }
       
       .basketdiv .sum {
         width: 40%;
      	 text-align: right !important;
         line-height: 5.0 !important;
         font-size: 1.2em;
      	 font-weight: 800;
         color: #0000aa;
       }
       
      .basketdiv .point {
         width: 50%;
      }

       .basketdiv .basketcmd{
        width: 100%;
        text-align: left !important;
        font-size: 1.2em;
      	font-weight: 800;
        line-height: 5.0 !important;
       }
   
       .basketdiv .data .pname {
        text-align: left !important;
        font-size: 1.0em;
        font-weight: 800;
        line-height: 0.1em; 
        word-spacing: 5px;
       }
       
       .basketdiv .data .price, .basketdiv .data .sum, .basketdiv .data .point {
         text-align: center;
       }
    
       .subdiv.p_price{
          text-align: center;
          width: 30px;
          height: 50px;
          font-size: 1.3em;
          line-height: 6.0 !important;
       }
 
.buttongroup {
    padding: 11px 0;
    margin: 50px 0;
}

.narrowbuttongroup{
    margin: 15px 0;
}

    .buttongroup.center {
        text-align: center;
    }
    
    .buttongroup input[type=text], .buttongroup input[type=password] {
        height: 10px;
    }
    
    .buttongroup button, .buttongroup a {
        margin-right: 8px;
    }
    
    .buttongroup button:last-child, .buttongroup a:last-child {
            margin-right: 0;
    }


.red {
    color:#b00;
}
.blue {
  color: #0075ff;
}
.sumcount, .summoney{
  text-align: center;
  margin-bottom: 20px;
}
.sumcount, .summoney{
  font-size: 1.5em;
    font-weight: bold;
}
.buttongroup{
  text-align: center;
}
.buttongroup a{
  text-decoration: none;
}
.cmd a, .cmd span {
    padding: 12px 30px;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 1.2em;
    color: #000;
    background-color: #f4f4f4;
    border: 1px solid #e0e0e0;
    text-align: center;
}
.cmd.small a, .cmd.small span {
    padding: 6px 20px;
    font-size: 0.8125em;
}

.orderform .p_num {
    text-align: center;
    width: 30px;
    height: 50px;
    font-size: 1.3em;
}

.subdiv.p_price{
    text-align: center;
    width: 30px;
    height: 50px;
    font-size: 1.3em;
    line-height: 6.0 !important;
}



