<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multisub.mapper.MainMapper">

	
	<select id="searchcoupon" parameterType="String" resultType="CouponVO">
		SELECT * FROM coupon WHERE name LIKE CONCAT('%',#{srchtext},'%')
	</select>
	
	<select id="searchcustomer" parameterType="String" resultType="UsersVO">
		SELECT * FROM users WHERE userTypeId=200 and name LIKE CONCAT('%',#{srchtext},'%')
	</select>
	
	<select id="searchemployee" parameterType="String" resultType="UsersVO">
		SELECT * FROM users WHERE userTypeId=300 and name LIKE CONCAT('%',#{srchtext},'%')
	</select>
	
	<select id="searchproduct" parameterType="String" resultType="ProductVO">
		SELECT * FROM product WHERE name LIKE CONCAT('%',#{srchtext},'%')
	</select>
	
	<select id="getcouponcnt" resultType="int">
		SELECT count(*) FROM coupon
	</select>
	
	<select id="getcustomercnt" resultType="int">
		SELECT count(*) FROM users
	</select>
	
	<select id="getemployeecnt" resultType="int">
		SELECT count(*) FROM users WHERE ID=300
	</select>
	
	<select id="getnutritioncnt" resultType="int">
		SELECT count(*) FROM nutrition
	</select>

	<select id="getorderchartdata" resultType="ChartVO">
	select DATE_FORMAT(sc.REGDATE, '%b. %Y') AS sdate, 
		sum(case when userType=100 then sales end) as userType100,
 	   sum(case when userType=200 then sales end) as userType200,
 	   sum(sales) as sales
	from(
		select SUM(O.PRICE) AS sales, O.REGDATE, U.USERTYPEID AS USERTYPE
		FROM orders O 
		inner JOIN users U ON O.USERSID = U.ID 
		WHERE O.REGDATE BETWEEN DATE_ADD(NOW(), INTERVAL -6 MONTH) AND NOW()
		group by O.REGDATE, userType 
		) sc 
	group by sdate
	</select>	
	
	<select id="getpaychartdata" resultType="ChartVO">	
		select DATE_FORMAT(pc.REGDATE, '%b. %Y') AS sdate,
			sum(case when payInfo='카드' then sp end) as picard, 
			sum(case when payInfo='현금' then sp end) as picash, 
			sum(case when payInfo='간편결제' then sp end) as pipay
		from (
			SELECT sum(price) as sp, REGDATE, payInfo  
			from orders 
			WHERE REGDATE BETWEEN DATE_ADD(NOW(), INTERVAL -6 MONTH) AND NOW() 
			group by REGDATE, payInfo ) pc 
		group by sdate
	</select>
	
	<select id="gettotalchartdata" resultType="ChartVO">		
		SELECT DATE_FORMAT(REGDATE, '%b. %Y') AS sdate, 
				sum(price) as sales, count(*) as ordercnt
		from orders 			
		WHERE REGDATE BETWEEN DATE_ADD(NOW(), INTERVAL -6 MONTH) AND NOW() 
		group by DATE_FORMAT(REGDATE, '%b. %Y')  
	</select>
	
	<select id="getcatechartdata" resultType="ChartVO">	
		select sum(o.odPrice) as sales, pr.catename as catename
		from ordersDetail o
		inner join (
			select p.id as prid, p.name as name, p.price as price, 
				   p.cateid as cateid, c.name as catename, c.pid as cpid
			from product p inner join category c on p.cateid = c.id
			where p.cateid in (110, 120, 130, 210, 220, 230, 240)
		) pr 
		on o.prodId = pr.prid group by pr.catename    
	</select>
	
	<select id="getproductcnt" resultType="int">
		SELECT count(*) FROM product
	</select>
	
	<select id="gettoppingcnt" resultType="int">
		SELECT count(*) FROM topping
	</select>
</mapper>